In [1]:

from os.path import abspath
from pyspark.sql import SparkSession

# warehouse_location points to the default location for managed databases and tables
warehouse_location = abspath('spark-warehouse')

# start SparkSession with Hive support enabled
spark = SparkSession \
    .builder \
    .appName("SparkSession") \
    .master("local[1]") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .enableHiveSupport() \
    .getOrCreate()

22/05/12 22:51:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:

# create Hive table
# Apache Hive facilitates reading, writing, and managing large datasets residing in distributed storage using SQL
# Structure can be projected onto data already in storage
# A command line tool and JDBC driver are provided to connect users to Hive
spark.sql("CREATE TABLE IF NOT EXISTS flights (year INT, \
                                                month INT, \
                                                day INT, \
                                                dep_time STRING, \
                                                dep_delay STRING, \
                                                arr_time STRING, \
                                                arr_delay STRING, \
                                                carrier STRING, \
                                                tailnum STRING, \
                                                flight INT, \
                                                origin STRING, \
                                                dest STRING, \
                                                air_time STRING, \
                                                distance INTEGER, \
                                                hour STRING, \
                                                minute STRING) USING hive")

22/05/12 22:51:10 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/05/12 22:51:10 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
22/05/12 22:51:13 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
22/05/12 22:51:13 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore nm@192.168.1.143
22/05/12 22:51:15 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
22/05/12 22:51:17 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
22/05/12 22:51:17 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
22/05/12 22:51:17 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/05/12 22:51:17 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
22/05/12 22:51:17 WARN HiveMetaStore: Location: file:/Users/nm/Projects/big_data_github_projects/pyspark_101/spark-warehouse/flights specified for non-external table:flights

DataFrame[]

In [3]:

# Print the tables in the catalog
print(spark.catalog.listTables())

[Table(name='flights', database='default', description=None, tableType='MANAGED', isTemporary=False)]

In [4]:

# Insert records into table
spark.sql("INSERT INTO flights VALUES(2014, 12, 8, 658, -7, 935, -5, 'VX', 'N846VA', 1780, 'SEA', 'LAX', 132, 954, 6, 58)")
spark.sql("INSERT INTO flights VALUES(2014, 1, 22, 1040, 5, 1505, 5, 'AS', 'N559AS', 851, 'SEA', 'HNL', 360, 2677, 10, 40)")

DataFrame[]

In [5]:

# Query table in HiveQL
spark.sql("SELECT * FROM flights").show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+